body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:#000000;
  text-decoration: none;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

a:hover {
  color: #a19335;
}

p {
  margin: 0 0 10px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  line-height: 33px;
  text-transform: capitalize;
}


/* Button Styles */

button, .btn {
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  /* border: 2px solid #000000; */
}

.btn:hover {
  opacity: .9;
}


/* Backgrounds */

/* .bgYellow {
  background-color: #f8e256;
}

.bgDark {
  background-color: #1f1f1f;
  color: #ffffff;
} */