* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #584b4b;
  text-decoration: none;
  transition: .3s ease-in-out;
  padding: 0;
  margin: 0;
}

a:hover {
  color: #a19335;
}

p {
  margin-bottom: 10px;
}

h1 {
  font-size: 30px;
  line-height: 1.4;
  text-transform: capitalize;
  font-weight: 700;
}

h2, h3, h4 {
  font-size: 25px;
  line-height: 1.3;
}

h5, h6 {
  font-size: 15px;
  line-height: .9;
}

h2, h3, h4 h5, h6 {
  font-weight: 600;
  text-transform: capitalize;
  padding: 10px 0;
}

button {
  display: inline-block;
  padding: 15px 30px;
  cursor: pointer;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

