header {
    padding: 20px 30px;
}

.logo {
    width: 100%;
    max-width: 120px;
}

.containerFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
}

.bgDark {
    background-color: #1f1f1f;
    color: #ffffff;
}