.select {
    padding: 15px;
    outline: none;
    color: #979797;
    border: 0;
    margin-right: 25px;
    background-color: #ffffff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}