.container {
	width: auto;
}

.input {
	padding:25px 25px;
	min-width:280px;
	outline:none;
	border: 0;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:0.2s ease all;
	-moz-transition:0.2s ease all;
	-ms-transition:0.2s ease all;
	-o-transition:0.2s ease all;
	transition:0.2s ease all;
	border-radius:50px 0 0 50px; 
}

@media (max-width: 1024px) {
	.input {
	  width: 70%;
	}
}

@media (max-width: 768px) {
	.input {
	  width: 85%;
	}
}

@media (max-width: 580px) {
	.input {
	  width: 98%;
	}
}